
@font-face {
    font-family: titleFont;
    src: url('../assets/VarelaRound-Regular.ttf') format('truetype');
  }

body, html {
    height: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
}
.fullBackground{
    height: -webkit-fill-available;
    object-fit: fill;
    width: 100%;
}
.textBoxCss{
    position: fixed;
    top: 15%;
    right: 6%;
    width: 34%;
    display: grid;
    text-align: right;
}
.textBoxCssFront{
    position: fixed;
    top: 18%;
    right: 6%;
    width: 29%;
}
.leftToRightTextBox{
    position: fixed;
    top: 40px;
    left: 25px;
    height: 325px;
}
.leftTitleFront{
    position: relative;
    left: 105px;
    top: 59px;
}
.textHeFront{
    white-space: pre-line;
    font-size: 16px;
    direction: rtl;
    line-height: 1.6;
    height: 670px;
    overflow: scroll;
    font-family: Papyrus;
}
.textCss{
    white-space: pre-line;
    font-size: 16px;
    direction: rtl;
    line-height: 1.6;
    height: 670px;
    overflow: scroll;
    font-family: Papyrus;
}
.lefToRightTexstCss{
    font-family: Papyrus;
    white-space: pre-line;
    font-size: 16px;
    text-align: left;
    line-height: 1.6;
    overflow: scroll;
    left: 17%;
    top: 16%;
    position: relative;
    width: 600px;
    height: 700px;
}
.buttomScrollOneHE{
    position: relative;
    top: -38px;
    left: 37%;
}
.buttomScrollOneEN {
    position: absolute;
    left: 85%;
    top: 260%;
}
.topScrollOneHE{
    visibility: hidden;
    position: relative;
    left: 50%;
    top: 40%;
    height: 20px;
}
.topScrollOneEN{
    position: fixed;
    left: 20%;
    top: 15%;
    height: 20px;
    visibility: hidden;
}
.sergiTitle{
    position: fixed;
    top: 40%;
    right: 10%;
    width: 200px;
    font-size: 14px;
    display: inline;
    text-align: center;
}
.ellaTitle{
    position: fixed;
    top: 40%;
    left: 9%;
    font-size: 14px;
    display: inline;
}
.knownTitle{
    position: fixed;
    top: 25%;
    left: 24%;
    font-size: 14px;
    display: inline;
}
.ogTitle{
    position: fixed;
    top: 29%;
    right: 45%;
    font-size: 14px;
}
.ogHeadline{
    position: relative;
    left: 30%;
    display: inline;
    text-align: center;
}
.waterTitle{
    position: fixed;
    left: 47%;
    bottom: 9%;
    font-size: 14px;
    display: inline;
    text-align: center;
}
.linkBtnCss{
    position: relative;
    top: -70px;
    right: -18%;
}
.particularBackGround{

    height: -webkit-fill-available;
    object-fit: fill;
    width: 100%;
}

.backBtn{
    position: fixed;
    bottom: 11px;
    right: 270px;
    z-index: 10;
}
.homeBtn{
    position: fixed;
    bottom: 15px;
    right: 200px;
    z-index: 10;
}
.arrowHolder{
    position: fixed;
    right: 100px;
    bottom: 0px;
}
.languagesDiv{
    position: fixed;
    display: flex;
    grid-row-gap: 8px;
    z-index: 99;
    bottom: 25px;
    left: 40px;
}

.leftToRightLangDiv{
 
    position: fixed;
    top:150px;
    right: 70px;
    display: grid;
    grid-row-gap: 8px;
    z-index: 99;
}

.topScrollBtnCss{
    position: relative;
    height: 150px;
    margin-bottom: -131px;
    top: -67px;
    left: 83px;
}
.addTitleFont{
    font-family: titleFont;
}
.gateHandEn{
    width: 249px;
    height: 21px;
}
.gateHandHE{
    left: 711px; 
    top: 182px; 
    position: absolute; 
    width: 165px;
    height: 32px;
}
.handArrowEn{
    position: relative;
    left: -14%;
    top: 20%;
    width: 108px;
    height: 83px;
}
.handArrowHe{
    position: relative;
    top: 19%;
    left: 55%;
    width: 115px;
    height: 70px;
}
.titleFont{
font-family: titleFont;
font-size: 23px;
}
.frontPageEnTitle{
    margin-bottom: 0%;
    font-size: 29px;
}
.frontPageHeTitle{
    height: 100px;
    position: fixed;
    top: 8%;
    right: 5%;
}
.heInfoPageTitle{
    margin-bottom: 0%;
}
.infoEnText{
    font-family: Papyrus;
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.6;
    height: 74%;
    overflow: scroll;
}
.buttomInfoScroll{
    position: fixed;
    bottom: 4%;
    left: 18%;
}
.topInfoScrollEn{
    visibility: hidden;
    position: fixed;
    left: 22%;
    top: 26%;
    height: 20px;
}
.handFrontContainer{
    position: absolute;
    right: 8%;
    top: 9%;
    display: grid;
}
.heHandFrontContainer{
    position: absolute;
    left: 16%;
    top: 11%;
    display: grid;
}
.activeBtn{

border: 1px solid rgb(86, 180, 239);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}
.addMargin{
    margin-right: 15px;
}
.ras-scroll-button-container{
    position: fixed;
    width: 200px;
    bottom: 31%;
    left: 14%;
}
.scroll-button-container{
    position: fixed;
    width: 200px;
    bottom: 10%;
    left: 22%;
}
#frontBox{
opacity: 1;
transition: opacity 3s;
}
#frontBox.fade{
    opacity: 0;
}
.en-general-container{
    position: fixed;
    top: 10%;
    height: 850px;
    width: 35%;
    left: 6%;
}
#box-ella-true{
    position: fixed;
    top: 20%;
    width: 31%;
    left: 9%;
}
#box-sergi-true{
    position: fixed;
    top: 20%;
    width: 31%;
    left: 9%;
}
#box-sergi-true frontPageUnderline{
    width: 500px;
    height: 10px;
}
#box-ella-false{
    position: fixed;
    top: 17%;
    right: 7%;
    /* height: 650px; */
    width: 31%;
}
#box-sergi-false{
    position: fixed;
    top: 17%;
    right: 7%;
    /* height: 650px; */
    width: 31%;
}
#box-og-false{
    width: 538px;
}
#box-water-false{
    position: fixed;
    top: 125px; 
}
#box-water-true{
    position: fixed;
    top: 155px;
}
.heb-scroll-button-container{
    position: relative;
    right: 40%;
}
.heb-front-scroll-button-container{

    position: fixed;
    left: 82%;
    bottom: 11%;
}
#box-og-true{
    width: 28%;
}

#box-og-true p{
    margin-top: 25px;
}
.info-page-titles{
    width: 200px;
    text-align: center;
}