
@font-face {
    font-family: titleFont;
    src: url('./VarelaRound-Regular.ttf') format('truetype');
  }

body, html {
    height: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
}

.infoBackground{

    height: -webkit-fill-available;
    object-fit: fill;
    width: 100%;

}

.videoStyle{
    height: -webkit-fill-available;
    object-fit: fill;
    width: 100%;
}

.textBoxCss{
    position: fixed;
    top: 15%;
    right: 6%;
    width: 34%;
    display: grid;
}
.textBoxCssFront{
    position: fixed;
    top: 18%;
    right: 6%;
    width: 29%;
}
.leftToRightTextBox{
    position: fixed;
    top: 15px;
    width: 304px;
    height: 325px;
    
}
.textCss{
    
    text-align: right;
    line-height: 1.6;
    height: 325px;
    overflow: hidden;
}
.lefToRightTexstCss{

    text-align: left;
    line-height: 1.6;
    overflow: hidden;
    left: 6%;
    top: 20%;
    position: fixed;
    width: 34%;
    height: 55%;
}
.buttomScrollOneHE{
    position: relative;
    top: -38px;
    left: 83px;
}
.buttomScrollOneEN {
    position: absolute;
    bottom: -220px;
    right: 83px;
}
.topScrollOneHE{
    position: relative;
    left: 50%;
    height: 20px;
}
.topScrollOneEN{
    position: fixed;
    left: 10%;
    top: 17%;
    height: 20px;
}
.sergiTitle{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 82px;
    left: 300px;
}
.ellaTitle{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 134px;
    left: 557px;
}
.knownTitle{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 150px;
    right: 150px;
}
.ogTitle{
    height: 100px;
    width: 100px;
    position: fixed;
    top: 184px;
    left: 40px;
}
.waterTitle{
    height: 100px;
    width: 100px;
    position: fixed;
    left: 50%;
    bottom: 2%;
}
.linkBtnCss{
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 61px;
    right: 11px;
}
.particularBackGround{

    height: -webkit-fill-available;
    object-fit: fill;
    width: 100%;
}

.backBtn{
    position: fixed;
    top: 50px;
    right: 68px;
    width: 80px;
    height: 30px;
}
.backBtnRightToLeft{
    position: fixed;
    top: 50px;
    left : 68px;
    width: 80px;
    height: 30px;
}
.homeBtn{
    position: fixed;
    top: 50px;
    right: 200px;
    width: 80px;
    height: 30px;
}
.rightToLeftHomeBtn{

    position: fixed;
    top: 50px;
    left: 200px;
    width: 80px;
    height: 30px;
}
.arrowHolder{
    position: fixed;
    right: 100px;
    bottom: 0px;
}
.languagesDiv{
    position: fixed;
    top:150px;
    display: grid;
    grid-row-gap: 8px;
    z-index: 99;
}

.leftToRightLangDiv{
 
    position: fixed;
    top:150px;
    right: 70px;
    display: grid;
    grid-row-gap: 8px;
    z-index: 99;
}

.topScrollBtnCss{
    position: relative;
    height: 150px;
    margin-bottom: -131px;
    top: -67px;
    left: 83px;
}
.addTitleFont{
    font-family: titleFont;
}
.gateHandEn{
    width: 249px;
    height: 21px;
}
.gateHandHE{
    left: 711px; 
    top: 182px; 
    position: absolute; 
    width: 165px;
    height: 32px;
}
.handArrowEn{
    position: relative;
    left: -14%;
    top: 20%;
    width: 108px;
    height: 83px;
}
.handArrowHe{
    position: relative;
    top: 19%;
    left: 55%;
    width: 115px;
    height: 70px;
}
.titleFont{
font-family: titleFont;
}
.frontPageEnTitle{
    margin-left: 21%;
    margin-bottom: 0%;
}
.frontPageUnderline{
    margin-left: 18%;
}
.heInfoPageTitle{
    float: right;
    /* margin-right: 9%; */
    margin-bottom: 0%;
}
.heInfoPageUnderline{

    float: right;
}
.enInfoTitle{
    position: fixed;
    left: 2%;
    top: 14%;
}
.infoEnText{
    position: fixed;
    left: 8%;
    top: 33%;
    width: 31%;
    line-height: 1.6;
    height: 46%;
    overflow: hidden;
}
.infoTextBoxLeftToRight{

    position: fixed;
    top: 16%;
    width: 33%;
    height: 325px;
}
.buttomInfoScroll{
    position: absolute;
    bottom: -53%;
    right: 83px;
}
.topInfoScrollEn{
    position: fixed;
    left: 18%;
    top: 29%;
    height: 20px;
}
.handFrontContainer{
    position: absolute;
    right: 4%;
    top: 4%;
    display: grid;
}
.heHandFrontContainer{
    position: absolute;
    left: 16%;
    top: 11%;
    display: grid;
}